.ftco-section {
    padding: 7em 0;
    position: relative; }
    @media (max-width: 767.98px) {
      .ftco-section {
        padding: 6em 0; } }
    @media (min-width: 768px) {
      .ftco-section .container-fluid {
        padding: 0 4em; } }
  
  .ftco-bg-dark {
    background: #3c312e; }
  
  .ftco-footer {
    font-size: 16px;
    padding: 2em 0 0em 0; }
    .ftco-footer .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: .95;
      background: #1b212c; }
    .ftco-footer .ftco-footer-logo {
      text-transform: uppercase;
      letter-spacing: .1em; }
    .ftco-footer .ftco-footer-widget h2 {
      font-weight: normal;
      color: #fff;
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: 400; }
    .ftco-footer .ftco-footer-widget ul li a span {
      color: #fff; }
    .ftco-footer .ftco-footer-widget .btn-primary {
      background: #fff !important;
      border: 2px solid #fff !important; }
      .ftco-footer .ftco-footer-widget .btn-primary:hover {
        background: #fff;
        border: 2px solid #fff !important; }
    .ftco-footer p {
      color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a {
      color: rgba(255, 255, 255, 0.7); }
      .ftco-footer a:hover {
        color: #fff; }
    .ftco-footer .ftco-heading-2 {
      font-size: 17px;
      font-weight: 400;
      color: #1b212c; }
    .ftco-footer .block-21 .text .heading {
      font-size: 18px; }
      .ftco-footer .block-21 .text .heading a {
        color: rgba(255, 255, 255, 0.8); }
        .ftco-footer .block-21 .text .heading a:hover, .ftco-footer .block-21 .text .heading a:active, .ftco-footer .block-21 .text .heading a:focus {
          color: red; }
    .ftco-footer .block-21 .text .meta > div {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px; }
      .ftco-footer .block-21 .text .meta > div a {
        color: #8d9db9; }
  
  .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block; }
    .ftco-footer-social li a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      position: relative; }
      .ftco-footer-social li a span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .ftco-footer-social li a:hover {
        color: #fff; }
  
  .footer-small-nav > li {
    display: inline-block; }
    .footer-small-nav > li a {
      margin: 0 10px 10px 0; }
      .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
        color: #167ce9; }
  
  .media .ftco-icon {
    width: 100px; }
    .media .ftco-icon span {
      color: #167ce9; }
  
  .ftco-media {
    background: #fff;
    border-radius: 0px; }
    .ftco-media .heading {
      font-weight: normal; }
    .ftco-media.ftco-media-shadow {
      padding: 40px;
      background: #fff;
      -webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
      -webkit-transition: .2s all ease;
      -o-transition: .2s all ease;
      transition: .2s all ease;
      position: relative;
      top: 0; }
      .ftco-media.ftco-media-shadow:hover, .ftco-media.ftco-media-shadow:focus {
        top: -3px;
        -webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
        box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3); }
    .ftco-media .icon {
      font-size: 50px;
      display: block;
      color: #167ce9; }
    .ftco-media.text-center .ftco-icon {
      margin: 0 auto; }
  
  .ftco-overflow-hidden {
    overflow: hidden; }
  
  .padding-top-bottom {
    padding-top: 120px;
    padding-bottom: 120px; }
  
  #map {
    height: 400px;
    width: 100%; }
    @media (max-width: 991.98px) {
      #map {
        height: 300px; } }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0.4); }
    70% {
      -webkit-box-shadow: 0 0 0 30px rgba(22, 124, 233, 0); }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0); } }
  
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0.4);
      -webkit-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0.4);
      box-shadow: 0 0 0 0 rgba(22, 124, 233, 0.4); }
    70% {
      -moz-box-shadow: 0 0 0 30px rgba(22, 124, 233, 0);
      -webkit-box-shadow: 0 0 0 30px rgba(22, 124, 233, 0);
      box-shadow: 0 0 0 30px rgba(22, 124, 233, 0); }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0);
      -webkit-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0);
      box-shadow: 0 0 0 0 rgba(22, 124, 233, 0); } }
  
.heading-section .subheading {
    font-size: 14px;
    display: block;
    margin-bottom: 10px; 
}
  
.heading-section h2 {
    font-size: 30px;
    font-weight: 400; 
}
@media (max-width: 767.98px) {
    .heading-section h2 {
    font-size: 28px; } 
}

.block-21 .blog-img {
    display: block;
    height: 90px;
    width: 50%;
}
.hotel-img, .hero-wrap, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}